* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #320000;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav a{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    display: inline;
    padding: 14px 16px;
}

nav a:hover{
    background-color: red;
    
}

.dropdown {
    display: inline;
}
  
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
}
  
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}

.jumbotron{
    background: url(../images/jumbotron.jpg) center;
    padding: 30px;
    background-size: cover;
}

.jumbotron h1{
    font-family: 'Reem Kufi Ink', sans-serif;
    color: brown;
    font-size: 75px;
    text-align: center;
    margin-top: 140px;
    text-decoration:underline;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron p{
    font-family: 'Amiri Quran', serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
}

.container{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.desc{
    font-family: 'Amiri Quran', serif;
    margin: 45px;
    color:aliceblue;
}

.container h1{
    font-family: 'Amiri Quran', serif;
    margin: 35px;
    letter-spacing: 4px;
    color:aliceblue;
    display: flex;
    justify-content: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main{
    display: flex;
    background-color: #320000;
}
 
.content{
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 99.8%);
    margin: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);

}

#sinopsis{
    order: 2;
}

#about{
    order: 1;
}

#season{
    order: 3;
}

.season-part{
    border: 2px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 30px;
}

section h3{
    color: white;
    margin-top: 25px;
    margin-left: 70px;
    text-align: left;
    font-family: 'Amiri Quran', serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

section p{
    font-family: 'Amiri Quran', serif;
    color:aliceblue;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 70px;
    margin-right: 70px;
}

section a{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    margin-left: 70px;
}

section li{
    text-align: start;
    margin-left: 15px;
    color: #ffffff;
    list-style: none;
}

section a:hover{
    font-weight: bold;
    color: #810034;
}

aside {
    flex: 2;
}

.information img{
    width: 60%;
}

.information{
    box-shadow: 0 2px 8px 2px rgba(153, 0, 0, 0.2);
    background-color: #000;
    padding: 20px;
    margin: 37px 30px 60px 30px;
    justify-content: center;
}

aside header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
aside header img {
    margin: 0 auto;
}


header h3{
    color: #ccc;
    text-align: center;
    font-family: 'Reem Kufi Ink', sans-serif;
    color: brown;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: underline;
    margin-bottom: 15px;
}

table th{
    color: #fff;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;

}

footer{
    padding: 20px;
    color: #fff;
    background-color: #4d0606;
    text-align: center;
    border: 2px solid black;
    font-family: 'Amiri Quran', serif;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    main{
        flex-flow: column wrap;
    }
   
    main aside {
      align-self: center;
    }

    .jumbotron{
        background-size: cover;
    }
}
   
@media screen and (max-width: 768px) {
    nav ul {
      justify-content: center;
    }
   
    main aside {
        justify-content: center;
    }

    .jumbotron{
        background-size: cover;
    }

    .jumbotron h1{
        font-size: 35px;
    }

    .jumbotron p{
        font-size: 20px;
    }
    section a{
        margin-left: 40px;
    }

    section p{
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 768px) {
    table {
      margin-left: auto;
      margin-right: auto;
    }
  }