* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #320000;
    padding: 15px;
    position: sticky;
}

nav a{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover{
    color: #810034;
    
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.jumbotron{
    background: url(../images/jumbotron.jpg) center;
    padding: 30px;
}

.jumbotron h1{
    font-family: 'Reem Kufi Ink', sans-serif;
    color: brown;
    font-size: 75px;
    text-align: center;
    margin-top: 140px;
    text-decoration:underline;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron p{
    font-family: 'Amiri Quran', serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
}

.container{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.desc{
    font-family: 'Amiri Quran', serif;
    margin: 45px;
    color:aliceblue;
}

.container h1{
    font-family: 'Amiri Quran', serif;
    margin: 35px;
    letter-spacing: 4px;
    color:aliceblue;
    display: flex;
    justify-content: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main{
    display: flex;
    background-color: #320000;
}
 
.content{
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 99.8%);
    width: 100%;
    margin: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

#sinopsis{
    order: 2;
}

#about{
    order: 1;
}

#season{
    order: 3;
}

section{
    border: 2px solid #ccc;
    padding-bottom: 30px;
}

section h3{
    color: white;
    margin-top: 25px;
    margin-left: 70px;
    text-align: left;
    font-family: 'Amiri Quran', serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

section p{
    font-family: 'Amiri Quran', serif;
    color:aliceblue;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 70px;
}

section a{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    margin-left: 70px;

}

section li{
    text-align: start;
    margin-left: 15px;
    color: #ffffff;
    list-style: none;

}

section a:hover{
    font-weight: bold;
    color: #810034;
}

aside {
    flex: 2;

}